:root {
    // Fonts
    --header-font: 'Orbitron', sans-serif;
    --text-font: 'Roboto', sans-serif;
    // Colours
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}