:root {
    // Fonts
    --header-font: 'Orbitron', sans-serif;
    --text-font: 'Roboto', sans-serif;
    // Colours
    --primary-color: #00B0FF;
    --white-color: #fff;
    --black-color: #000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black-color);
    font-family: var(--text-font);
    background-color: var(--white-color);
}