:root {
    // Fonts
    --header-font: 'Orbitron', sans-serif;
    --text-font: 'Roboto', sans-serif;
    // Colours
    --primary-color: #00B0FF;
    --white-color: #fff;
    --black-color: #141c3a;
    --border-color: #E6ECF8;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black-color);
    font-family: var(--text-font);
    background-color: var(--white-color);
}

// Responsivenss
@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media only screen and (max-width: 360px) { @content };    
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 630px) { @content };    
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 900px) { @content };     
    }
    @if $breakpoint == laptop {
        @media only screen and (max-width: 1200px) { @content };    
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 1700px) { @content };    
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 1700px) { @content };    
    }
}