// Buttons
.btn-1 {
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.7rem 0.95rem;
    color: var(--primary-color);
    text-decoration: none;

    @include respond(big-desktop) {
        border-radius: 35px;
        padding: 1rem 1.3rem;
    }

    @include respond(phone) {
        padding: 0.3rem 0.5rem;
    }
}

.btn-1:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

// Cards
.learn-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px var(--border-color);
    color: var(--black-color);
    display: block;
    padding: 5rem 1.5rem;
    border: 1px solid var(--border-color);

    @include respond(small-phone) {
        padding: 4px 0.75rem;
        
    }

    &-icon {
        color: var(--primary-color);
        text-align: center;
    }

    &-1 {
        border-top-left-radius: 12px;

        @include respond(phone) {
            border-top-right-radius: 12px;
        }
    }

    &-2 {
        @include respond(tablet) {
            border-top-right-radius: 12px;
        }
        @include respond(phone) {
            border-top-right-radius: 0px;
        }
    }

    &-3 {
        border-top-right-radius: 12px;

        @include respond(tablet) {
            border-top-right-radius: 0px;
        }
    }

    &-4 {
        border-bottom-left-radius: 12px;

        @include respond(tablet) {
            border-bottom-left-radius: 0px;
        }
    }

    &-5 {
        @include respond(tablet) {
            border-bottom-left-radius: 12px;
        }

        @include respond(phone) {
            border-bottom-left-radius: 0px;
        }
    }

    &-6 {
        border-bottom-right-radius: 12px;

        @include respond(phone) {
            border-bottom-left-radius: 12px;
        }
    }
}

.projects-card {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px var(--border-color);
    
    &-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        
    }
}

.project-card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: .45s ease-in-out;
    background-color: rgba(20, 28, 58, 0.95);
}

.project-card-overlay-content {
    color: white;
    font-family: var(--header-font);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    padding: 0 10px;
}

.projects-card:hover .project-card-overlay {
    opacity: 1;
}