.btn-1 {
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.7rem 0.95rem;
    color: var(--primary-color);

    @include respond(big-desktop) {
        border-radius: 35px;
        padding: 1rem 1.3rem;
    }

    @include respond(phone) {
        padding: 0.3rem 0.5rem;
    }
}

.btn-1:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}