.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;

    &-logo {
        width: 40px;
    }

    &-link {
        text-decoration: none;
        color: var(--black-color);
        font-size: 19px;
        margin: 0 15px;
        font-weight: 300;
    }

    &-link:hover {
        color: var(--primary-color);
    }
}

.hero {
    padding: 120px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-heading {
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    &-sub-heading {
        text-align: center;
        font-weight: 200;
        font-size: 25px;
        margin-bottom: 30px;
    }

    &-img { 
        width: 240px;
        height: 240px;
    }
}