.hero-heading {
    text-align: center;
    font-family: var(--header-font);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;

    @include respond(big-desktop) {
        font-size: 28px;
    }

    @include respond(tablet) {
        font-size: 15px;
    }

    @include respond(phone) {
        font-size: 12px;
    }
}

.hero-sub-heading {
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 30px;

    @include respond(big-desktop) {
        font-size: 35px;
    }

    @include respond(tablet) {
        font-size: 20px;
    }

    @include respond(phone) {
        font-size: 15px;
    }
}

.about-heading {
    text-align: center;
    font-family: var(--header-font);
    font-size: 24px;
    margin-bottom: 20px;

    @include respond(big-desktop) {
        font-size: 28px;
    }

    @include respond(tablet) {
        font-size: 15px;
    }

    

    @include respond(small-phone) {
        font-size: 13px;
    }
}

.about-content {
    text-align: center;
    line-height: 2.1rem;
    font-weight: 200;
    font-size: 20px;

    @include respond(big-desktop) {
        font-size: 28px;
        line-height: 3rem;
    }

    @include respond(tablet) {
        font-size: 15px;
    }

    @include respond(phone) {
        font-size: 14px;
        line-height: 1.5rem;
    }

    @include respond(small-phone) {
        font-size: 12px;
    }
}

.learn-card-heading {
    text-align: center;
    font-family: var(--header-font);
    font-size: 20px;
    margin: 30px 0;

    @include respond(tablet) {
        font-size: 15px;
    }
}

.learn-card-content {
    text-align: center;
    line-height: 2.1rem;
    font-weight: 200;
    font-size: 20px;

    @include respond(laptop) {
        font-size: 18px;
    }

    @include respond(small-phone) {
        font-size: 15px;
    }
}

.projects-heading {
    text-align: center;
    font-family: var(--header-font);
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.projects-subheading {
    text-align: center;
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 30px;
}

.project-card-text {
    margin-bottom: 20px;
    font-size: 19px;
}

.project-card-btn {
    color: var(--white-color);
    font-family: var(--text-font);
    font-size: 20px;
}