:root {
  --header-font: 'Orbitron', sans-serif;
  --text-font: 'Roboto', sans-serif;
  --primary-color: #00B0FF;
  --white-color: #fff;
  --black-color: #000; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: var(--black-color);
  font-family: var(--text-font);
  background-color: var(--white-color); }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px; }
  .nav-logo {
    width: 40px; }
  .nav-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 19px;
    margin: 0 15px;
    font-weight: 300; }
  .nav-link:hover {
    color: var(--primary-color); }

.hero {
  padding: 80px 50px;
  padding-bottom: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero-img {
    width: 16.25rem;
    height: 16.25rem;
    margin-bottom: 30%; }
  .hero-bg {
    width: 60%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }

.btn-1 {
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.7rem 0.95rem;
  color: var(--primary-color); }

.btn-1:hover {
  background-color: var(--primary-color);
  color: var(--white-color); }

.hero-heading {
  text-align: center;
  font-family: var(--header-font);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px; }

.hero-sub-heading {
  text-align: center;
  font-weight: 200;
  font-size: 25px;
  margin-bottom: 30px; }

.about-heading {
  text-align: center;
  font-family: var(--header-font);
  font-size: 20px;
  margin-bottom: 20px; }

.about-content {
  text-align: center;
  line-height: 2rem;
  font-weight: 200;
  font-size: 18px; }

.about {
  background-color: var(--primary-color);
  width: 100%;
  height: auto;
  margin-top: 32%;
  padding: 140px 300px;
  color: var(--white-color); }
