:root {
  --header-font: 'Orbitron', sans-serif;
  --text-font: 'Roboto', sans-serif;
  --primary-color: #00B0FF;
  --white-color: #fff;
  --black-color: #141c3a;
  --border-color: #E6ECF8; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: var(--black-color);
  font-family: var(--text-font);
  background-color: var(--white-color); }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px; }
  @media only screen and (min-width: 1700px) {
    .nav {
      padding: 40px 75px; } }
  @media only screen and (max-width: 630px) {
    .nav {
      padding: 30px 40px; } }
  .nav-logo {
    width: 40px; }
    @media only screen and (min-width: 1700px) {
      .nav-logo {
        width: 60px; } }
    @media only screen and (max-width: 630px) {
      .nav-logo {
        width: 25px; } }
  .nav-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 19px;
    margin: 0 15px;
    font-weight: 300; }
    @media only screen and (min-width: 1700px) {
      .nav-link {
        margin: 0 20px;
        font-size: 30px; } }
    @media only screen and (max-width: 630px) {
      .nav-link {
        margin: 0px 10px;
        font-size: 14px; } }
  .nav-link:hover {
    color: var(--primary-color); }

.hero {
  padding: 80px 50px;
  padding-bottom: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero-image {
    width: 16.25rem;
    height: 16.25rem;
    margin-bottom: 30%; }
    @media only screen and (min-width: 1700px) {
      .hero-image {
        width: 20.25rem;
        height: 20.25rem; } }
    @media only screen and (max-width: 900px) {
      .hero-image {
        width: 13rem;
        height: 13rem; } }
    @media only screen and (max-width: 630px) {
      .hero-image {
        width: 7.5rem;
        height: 7.5rem; } }
  .hero-bg {
    width: 60%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }

.btn-1 {
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.7rem 0.95rem;
  color: var(--primary-color);
  text-decoration: none; }
  @media only screen and (min-width: 1700px) {
    .btn-1 {
      border-radius: 35px;
      padding: 1rem 1.3rem; } }
  @media only screen and (max-width: 630px) {
    .btn-1 {
      padding: 0.3rem 0.5rem; } }

.btn-1:hover {
  background-color: var(--primary-color);
  color: var(--white-color); }

.project-card-btn {
  color: var(--white-color);
  font-family: var(--text-font);
  font-size: 18px;
  padding: 0.7rem 2.0rem; }

.btn-2 {
  padding: 0.7rem 2.5rem;
  font-weight: 300; }

.learn-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px var(--border-color);
  color: var(--black-color);
  display: block;
  padding: 5rem 1.5rem;
  border: 1px solid var(--border-color); }
  @media only screen and (max-width: 360px) {
    .learn-card {
      padding: 4px 0.75rem; } }
  .learn-card-icon {
    color: var(--primary-color);
    text-align: center; }
  .learn-card-1 {
    border-top-left-radius: 12px; }
    @media only screen and (max-width: 630px) {
      .learn-card-1 {
        border-top-right-radius: 12px; } }
  @media only screen and (max-width: 900px) {
    .learn-card-2 {
      border-top-right-radius: 12px; } }
  @media only screen and (max-width: 630px) {
    .learn-card-2 {
      border-top-right-radius: 0px; } }
  .learn-card-3 {
    border-top-right-radius: 12px; }
    @media only screen and (max-width: 900px) {
      .learn-card-3 {
        border-top-right-radius: 0px; } }
  .learn-card-4 {
    border-bottom-left-radius: 12px; }
    @media only screen and (max-width: 900px) {
      .learn-card-4 {
        border-bottom-left-radius: 0px; } }
  @media only screen and (max-width: 900px) {
    .learn-card-5 {
      border-bottom-left-radius: 12px; } }
  @media only screen and (max-width: 630px) {
    .learn-card-5 {
      border-bottom-left-radius: 0px; } }
  .learn-card-6 {
    border-bottom-right-radius: 12px; }
    @media only screen and (max-width: 630px) {
      .learn-card-6 {
        border-bottom-left-radius: 12px; } }

.projects-card {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px var(--border-color); }
  .projects-card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }

.project-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: .45s ease-in-out;
  background-color: rgba(20, 28, 58, 0.95); }

.project-card-overlay-content {
  color: white;
  font-family: var(--header-font);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  padding: 0 10px; }

.projects-card:hover .project-card-overlay {
  opacity: 1; }

.hero-heading {
  text-align: center;
  font-family: var(--header-font);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px; }
  @media only screen and (min-width: 1700px) {
    .hero-heading {
      font-size: 28px; } }
  @media only screen and (max-width: 900px) {
    .hero-heading {
      font-size: 15px; } }
  @media only screen and (max-width: 630px) {
    .hero-heading {
      font-size: 12px; } }

.hero-sub-heading {
  text-align: center;
  font-weight: 200;
  font-size: 25px;
  margin-bottom: 30px; }
  @media only screen and (min-width: 1700px) {
    .hero-sub-heading {
      font-size: 35px; } }
  @media only screen and (max-width: 900px) {
    .hero-sub-heading {
      font-size: 20px; } }
  @media only screen and (max-width: 630px) {
    .hero-sub-heading {
      font-size: 15px; } }

.about-heading {
  text-align: center;
  font-family: var(--header-font);
  font-size: 24px;
  margin-bottom: 20px; }
  @media only screen and (min-width: 1700px) {
    .about-heading {
      font-size: 28px; } }
  @media only screen and (max-width: 900px) {
    .about-heading {
      font-size: 15px; } }
  @media only screen and (max-width: 360px) {
    .about-heading {
      font-size: 13px; } }

.about-content {
  text-align: center;
  line-height: 2.1rem;
  font-weight: 200;
  font-size: 20px; }
  @media only screen and (min-width: 1700px) {
    .about-content {
      font-size: 28px;
      line-height: 3rem; } }
  @media only screen and (max-width: 900px) {
    .about-content {
      font-size: 15px; } }
  @media only screen and (max-width: 630px) {
    .about-content {
      font-size: 14px;
      line-height: 1.5rem; } }
  @media only screen and (max-width: 360px) {
    .about-content {
      font-size: 12px; } }

.learn-card-heading {
  text-align: center;
  font-family: var(--header-font);
  font-size: 20px;
  margin: 30px 0; }
  @media only screen and (max-width: 900px) {
    .learn-card-heading {
      font-size: 15px; } }

.learn-card-content {
  text-align: center;
  line-height: 2.1rem;
  font-weight: 200;
  font-size: 20px; }
  @media only screen and (max-width: 1200px) {
    .learn-card-content {
      font-size: 18px; } }
  @media only screen and (max-width: 360px) {
    .learn-card-content {
      font-size: 15px; } }

.projects-heading {
  text-align: center;
  font-family: var(--header-font);
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px; }

.projects-subheading {
  text-align: center;
  font-weight: 200;
  font-size: 22px;
  margin-bottom: 30px; }

.project-card-text {
  margin-bottom: 20px;
  font-size: 19px; }

.about {
  background-color: var(--primary-color);
  width: 100%;
  height: auto;
  margin-top: 32%;
  padding: 140px 250px;
  padding-bottom: 250px;
  color: var(--white-color); }
  @media only screen and (max-width: 1200px) {
    .about {
      padding: 120px 200px;
      padding-bottom: 250px; } }
  @media only screen and (max-width: 900px) {
    .about {
      padding: 100px 100px;
      padding-bottom: 250px; } }
  @media only screen and (max-width: 630px) {
    .about {
      padding: 50px 50px;
      padding-bottom: 250px; } }
  @media only screen and (max-width: 360px) {
    .about {
      padding: 50px 25px;
      padding-bottom: 250px; } }

.learn {
  width: 100%;
  height: auto;
  position: relative; }
  .learn-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem;
    width: 90%;
    position: absolute;
    top: -160px;
    right: 5%;
    margin-bottom: 50px; }
    @media only screen and (max-width: 900px) {
      .learn-cards {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 630px) {
      .learn-cards {
        grid-template-columns: repeat(1, 1fr); } }

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 940px; }
  @media only screen and (max-width: 900px) {
    .projects {
      margin-top: 1390px; } }
  @media only screen and (max-width: 630px) {
    .projects {
      margin-top: 2490px; } }
  @media only screen and (max-width: 360px) {
    .projects {
      margin-top: 5090px; } }
  .projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 50px 40px; }
  .projects-btn {
    font-size: 20px;
    margin-bottom: 100px; }
